<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

<!--   <servlet>
    <servlet-name>predictor</servlet-name>
    <servlet-class>com.jwsur2.ch2.predictions2.PredictionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>predictor</servlet-name>
    <url-pattern>/ch2/predictions2</url-pattern>
  </servlet-mapping>
 -->  
  <servlet>
  	<servlet-name>jerseys</servlet-name>
  	<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>

 
</web-app>